SEPOLIA_ALCHEMY_RPC_URL="https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY"
METAMASK_PRIVATE_KEY="0xYOUR_PRIVATE_KEY"

# Optional
ETHERSCAN_API_KEY="YOUR_ETHERSCAN_API_KEY"
COINMARKETCAP_API_KEY="YOUR_COINMARKETCAP_API_KEY"
REPORT_GAS_USAGE="true"